[submodule "plugin/git"]
  path = plugins/git
  url = https://github.com/paraqles/zsh-plugin-git.git

[submodule "plugin/mercurial"]
  path = plugins/mercurial
  url = https://github.com/paraqles/zsh-plugin-mercurial.git

[submodule "plugin/rails"]
  path = plugins/rails
  url = https://github.com/paraqles/zsh-plugin-rails.git

[submodule "plugin/ruby"]
  path = plugins/ruby
  url = https://github.com/paraqles/zsh-plugin-ruby.git

[submodule "plugin/rvm"]
  path = plugins/rvm
  url = https://github.com/paraqles/zsh-plugin-rvm.git

[submodule "plugin/vim"]
  path = plugins/vim
  url = https://github.com/paraqles/zsh-plugin-vim.git

