[submodule "plugins/zsh-history-substring-search"]
  path = plugins/zsh-history-substring-search
  url = https://github.com/zsh-users/zsh-history-substring-search.git

[submodule "plugins/arch"]
  path = plugins/arch
  url = https://github.com/paraqles/zsh-plugin-arch.git

[submodule "plugins/bsd"]
  path = plugins/bsd
  url = https://github.com/paraqles/zsh-plugin-bsd.git

[submodule "plugins/git"]
  path = plugins/git
  url = https://github.com/paraqles/zsh-plugin-git.git

[submodule "plugins/linux"]
  path = plugins/linux
  url = https://github.com/paraqles/zsh-plugin-linux.git

[submodule "plugins/mac"]
  path = plugins/mac
  url = https://github.com/paraqles/zsh-plugin-mac.git

[submodule "plugins/mercurial"]
  path = plugins/mercurial
  url = https://github.com/paraqles/zsh-plugin-mercurial.git

[submodule "plugins/rails"]
  path = plugins/rails
  url = https://github.com/paraqles/zsh-plugin-rails.git

[submodule "plugins/ruby"]
  path = plugins/ruby
  url = https://github.com/paraqles/zsh-plugin-ruby.git

[submodule "plugins/rvm"]
  path = plugins/rvm
  url = https://github.com/paraqles/zsh-plugin-rvm.git

[submodule "plugins/ssh"]
  path = plugins/ssh
  url = git://github.com/paraqles/zsh-plugin-ssh.git

[submodule "plugins/sunos"]
  path = plugins/sunos
  url = https://github.com/paraqles/zsh-plugin-sunos.git

[submodule "plugins/vim"]
  path = plugins/vim
  url = https://github.com/paraqles/zsh-plugin-vim.git

[submodule "plugins/zfs"]
  path = plugins/zfs
  url = https://github.com/paraqles/zsh-plugin-zfs.git
[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
