[submodule "plugins/bsd"]
  path = plugins/bsd
  url = https://github.com/paraqles/zsh-plugin-bsd.git

[submodule "plugins/git"]
  path = plugins/git
  url = https://github.com/paraqles/zsh-plugin-git.git

[submodule "plugins/linux"]
  path = plugins/linux
  url = https://github.com/paraqles/zsh-plugin-linux.git

[submodule "plugins/mac"]
  path = plugins/mac
  url = https://github.com/paraqles/zsh-plugin-mac.git

[submodule "plugins/mercurial"]
  path = plugins/mercurial
  url = https://github.com/paraqles/zsh-plugin-mercurial.git

[submodule "plugins/rails"]
  path = plugins/rails
  url = https://github.com/paraqles/zsh-plugin-rails.git

[submodule "plugins/ruby"]
  path = plugins/ruby
  url = https://github.com/paraqles/zsh-plugin-ruby.git

[submodule "plugins/rvm"]
  path = plugins/rvm
  url = https://github.com/paraqles/zsh-plugin-rvm.git

[submodule "plugins/ssh"]
  path = plugins/ssh
  url = git://github.com/paraqles/zsh-plugin-ssh.git

[submodule "plugins/sunos"]
  path = plugins/sunos
  url = https://github.com/paraqles/zsh-plugin-sunos.git

[submodule "plugins/vim"]
  path = plugins/vim
  url = https://github.com/paraqles/zsh-plugin-vim.git

